<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0974780B509044A8835BD57F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30D874A47DC24B80B045F742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34BB1C4D14DC45458CF4E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C411397D3F4DF88B065777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB70FD15881479282561C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64BD818F694401A93E1FB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB2D3E72F2441859B377D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA237E73926B4D22B426C21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
