<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0974780B509044A8835BD57F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30D874A47DC24B80B045F742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34BB1C4D14DC45458CF4E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>483434C7C7734AB4B08EFF64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C411397D3F4DF88B065777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C5F4FBB988A471AB43AECAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DB70FD15881479282561C4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EC18CD0E419498F9E5D2812</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5615261F3B524261B1B234CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>592BBB07025342E2A7EAEAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>600605C09A4343A98C9BD3C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B1C297D4305457DA9614EB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>901479A46AFA4D02B76473BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98D5B1C7E101480FBC79A8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C4ECC04335A4E8380A6FE5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A64BD818F694401A93E1FB0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF808DA4A0EA49D191820A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D305D0889A4E46C79EF758FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAAE60B817FF406CA7D9E5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB2D3E72F2441859B377D37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E133F01CD9DD49B68AE6F162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFC3614459274945B987D757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA237E73926B4D22B426C21D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
